@font-face {
  font-family: 'tomkovich-icon';
  src:  url('../fonts/tomkovich-icon/tomkovich-icon.eot?d2d6ap');
  src:  url('../fonts/tomkovich-icon/tomkovich-icon.eot?d2d6ap#iefix') format('embedded-opentype'),
    url('../fonts/tomkovich-icon/tomkovich-icon.ttf?d2d6ap') format('truetype'),
    url('../fonts/tomkovich-icon/tomkovich-icon.woff?d2d6ap') format('woff'),
    url('../fonts/tomkovich-icon/tomkovich-icon.svg?d2d6ap#tomkovich-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}