@import 'colors.scss';
@import 'fonts.scss';
@import 'tom.slider.scss';
@import 'hamburger.scss';
body {
	padding: 0;
	margin: 0;
	background-color: $white;
	font-family: 'Comfortaa', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'El Messiri', serif;
}

img {
	max-width: 100%;
	height: auto;
}

.tomkovich-icon {
	font-family: 'tomkovich-icon';
}

.tomkovich-icon:before {
	color: $white;
	font-size: 30px;
}

.show {
	left: 50% !important;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.bg {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.section-title {
	font-size: 22px;
	font-weight: 700;
	font-family: 'El Messiri', serif;
	text-align: center;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.section {
	padding-left: 15px;
	padding-right: 15px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.button-shop {
	a {
		font-weight: 700;
		transition: color .25s ease-in-out, background-color .25s ease-in-out;
		&:hover {
			color: $white;
			background-color: $lightBlue;
		}
	}
}

.menu {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		li {
			a {
				color: $white;
				transition: color .25s ease-in-out;
				&:hover {
					color: $blue;
				}
				&.active {
					color: $blue;
				} 
			}
		}
	}
} 

.main-button {
	border: 2px solid $lightBlue;
	border-radius: 5px;
	color: $lightBlue;
	padding: 10px 25px;
}

/* Section Main */

.section-main {
	background-color: $darkBlue;
	padding-top: 40px;
	padding-bottom: 80px;
	position: relative;
	header {
		width: 100%;
		.flex-container {
			width: 100%;
			padding: 0 1em;
			justify-content: space-between;
			align-items: center;
			.logo {
				width: 20%;
				a {
					.tom-headphones {
						font-size: 50px;
					}
					.name-company {
						opacity: 0;
						color: $grey;
						transition: opacity .3s ease;
						margin-left: -20px;
						font-size: 12px;
					}

					&:hover {
						.name-company {
							opacity: 1;
						}	
					}
				}
			}
		}
		.header-menu {
			width: 50%;
		}
		.add-menu {
			width: 12%;
			.add-menu_item {
				position: relative;
				cursor: pointer;
				.tomkovich-icon {
					&:before {
						font-size: 22px;
						transition: color .25s ease-in-out;
					}
					.count {
						background-color: $blue;
						width: 6px;
						height: 6px;
						display: block;
						position: absolute;
						top: 2px;
						right: -2px;
						border-radius: 50%;
					}
				}

				&:hover {
					.tomkovich-icon:before {
						color: $blue;
					}
				}
			}
		}
	}
	.section-main_slider {
		position: relative;
		height: 500px;
		margin-top: 50px;
		padding-right: 4em;
		overflow: hidden;
		.section-main_slider__wrapper {
			width: 100%;
			white-space: nowrap;
			height: 100%;
			transition: transform .3s ease-in-out;
		}
		.section-main_slider__slide {
			height: 100%;
			background-position-x: 18em;
			white-space: normal;
			display: inline-block;
			width: 100%;
			position: relative;
			.section-main_slider__slide_description {
				width: 50%;
				padding-top: 10%;
				padding-left: 4em;
				color: $white;
				h1 {
					font-size: 28px;
					font-weight: 700;
				}
				p {
					font-weight: 300;
					line-height: 24px;
				}
				.button-shop {
					margin-top: 50px;
					a {
						font-weight: 700;
						transition: color .25s ease-in-out, background-color .25s ease-in-out;
						&:hover {
							color: $white;
							background-color: $lightBlue;
						}
					}
				}
			}
		}
		.navigation {
			position: absolute;
			top: 50%;
			width: 100%;
			button {
				outline: none;
				cursor: pointer;
				background: none;
				border: none;
				position: absolute;
				&.nav-prev {
					left: 0;
				}
				&.nav-next {
					right: 0;
				}
				span {
					&:before {
						color: darken($white, 30 );
						transition: color .25s ease-in-out;
					}
				}
				&:hover {
					span {
						&:before {
							color: darken($white, 0 );
						}
					}
				}
			}
		}
	}
	.bottom-information {
		padding-right: 6em;
		margin-top: -60px;
		position: relative;
		.flex-container {
			justify-content: space-between;
			align-items: center;
			.social {
				padding-left: 2em;
				ul {
					li {
						margin-right: 10px;
						display: inline-block;
						a {
							span {
								&:before {
									font-size: 22px;
									color: darken($white, 30 );
									transition: color .25s ease-in-out;
									text-shadow: 1px 3px 10px rgba(255, 255, 255, 0.2);
								}
							}
							&:hover {
								span {
									&:before {
										font-size: 22px;
										color: darken($white, 0 );
									}
								}
							}
						}
					}
				}
			}
			.menu-bottom {
				width: 50%;
				ul {
					justify-content: space-between;
					li {
						a {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

/* Section Categories */
.section-categories {
	padding: 50px 15px;
	.section-categories_list {
		width: 80%;
		margin: 0 auto;
		margin-top: 25px;
		ul {
			justify-content: center;
			li {
				width: calc(100% / 5 - 15px);
				margin-right: 15px;
				box-shadow: 2px 2px 6px rgba(0,0,0, .2);
				border-radius: 5px;
				position: relative;
				overflow: hidden;
				transition: box-shadow .25s ease;
				&:hover {
					box-shadow: 2px 2px 6px rgba(0,0,0, .35);
				}
				a {
					display: block;
					width: 100%;
					height: 100%;
					padding: 50px 10px;
					text-align: center;
					color: $darkBlue;
					i {
						&:before {
							transition: color .25s ease-in-out;
							font-size: 50px;
							color: $grey;
						}
					}
					&:hover {
						i {
							&:before {
								font-size: 50px;
								color: $blue;
							}
						}
					}
					.earphone_title {
						font-family: 'Comfortaa';
						font-weight: 700;
					}
					.count {
						font-size: 14px;
						color: #999;
					}
				}
			}
		}
	}
}

/* Section Review */
.section-review {
	padding: 60px 4em 60px 0;
	color: #fff;
	background-color: #000;
	.flex-container {
		align-items: center;
		.section-review_image {
			width: 50%;
			text-align: center;
			position: relative;
			img {
				width: 60%;
			}
			.point {
				width: 15px;
				height: 15px;
				position: absolute;
				border-radius: 50%;
				border: 1px solid $lightBlue;
				cursor: pointer;
				&:before {
					display: block;
					top: 2px;
					left: 2px;
					position: absolute;
					content: '';
					width: 9px;
					background-color: $lightBlue;
					height: 9px;
					border-radius: 50%;
				}
				.point_text {
					position: absolute;
					margin-left: 30px;
					color: #000;
					background-color: #fff;
					text-align: center;
					min-width: 0;
					transition: all .3s ease-in-out;
					font-size: 0;
					&.active {
						padding: 10px 20px;
						min-width: 170px;
						font-size: 16px;
					}
				}
				&.point_one {
					transform: translateX(-50%);
					right: 50%;
					top: 40px;
				}
				&.point_two {
					right: 45%;
					bottom: 150px;
				}
			}
		}
		.section-review_content {
			width: 50%;
			text-align: right;
			.title {
				font-size: 21px;
				font-weight: 700;
				margin-bottom: 30px;
			}
			.description {
				color: #cacaca;
				line-height: 1.4em;
				margin-bottom: 50px;
			}
		}
	}
}

/* Section Reasons */
.section-reason {
	padding: 60px 4em;
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center -200%;
	.section-reason_list {
		margin-top: 35px;
		.section-reason_list__item {
			width: 35%;
			margin: 25px 0;
			.number {
				font-size: 50px;
				color: $darkBlue;
				font-weight: 900;
			}
			.description {
				color: $darkBlue;
			}
		}
	}
}


/* Section Features */
.section-features {
	padding: 60px 4em 0px 4em;
	position: relative;
	&::before {
		display: block;
		content: '';
		width: 100%;
		height: 300px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-image: url('../img/2.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
	}
	.section-title {
		color: #fff;
	}
	.section-features_list {
		margin-top: 30px;
		.section-features_list__item {
			height: 0;
			background: #fff;
			padding: 0;
			display: flex;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
			flex-direction: column;
			&.active {
				height: initial;
				padding: 30px 20px;
			}
			.title {
				text-align: center;
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 20px;
			}
			.img-wrap {
				width: 100%;
				min-height: 200px;
				height: 200px;
				overflow: hidden;
				img {
					max-width: 100%;
					height: auto;
				}
			}
			.review {
				margin: 10px 0;
				flex-wrap: nowrap;
				display: flex;
				justify-content: space-between;
				.stars {
					img {
						width: 10px;
					}			
				}
				.price {
					font-weight: 700;
					del {
						font-size: 14px;
						color: $grey;
					}
				}
			}
			.excerpt {
				font-size: 14px;
				text-align: center;
				color: $grey;
				line-height: 20px;
				margin-bottom: 15px;
			}
			.btn-buy {
				background: $blue;
				border: 0;
				color: #fff;
				text-align: center;
				cursor: pointer;
				margin-top: auto;
				trasition: background .25s ease-in-out;
				a {
					display: block;
					width: 100%;
					height: 100%;
					color: #fff;
				}
				&:hover {
					background: darken($blue, 5%);
				}
			}
		}
	}
	.tom-navigation {
		top: 50%;
		button {
			background-color: transparent;
			&.arrowNext {
				right: -60px;
			}
			&.arrowPrev {
				left: -60px;
			}
			span {
				&:before {
					color: #000;
				}
			}
		}
	}
}

/* Section Review */
.section-testimonials {
	padding: 60px 4em;
	background-color: #fff;
	color: $darkBlue;
	.section-testimonials_list {
		margin-top: 35px;
		.section-testimonials_link {
			width: 100%;
			margin-top: 30px;
			text-align: center;
		} 
		.section-testimonials_list__item {
			width: 40%;
			margin: 20px 0;
			background-image: url('../img/quote.png');
			background-position: 0 -5px;
			padding-left: 55px;
			background-repeat: no-repeat;
			background-size: 40px;
			.section-testimonials_name {
				font-weight: 700;
				font-size: 20px;
				margin-bottom: 10px;
			}
			.section-testimonials_content {
				font-size: 15px;
				color: #737373;
				line-height: 23px;
			}
		}
	}
}

/* Section Posts */
.section-posts {
	padding: 60px 4em 160px 4em;
	.section-posts_list {
		margin-top: 35px;
		.section-posts_list__item {
			width: 31%;
			position: relative;
			&:hover {
				.img-wrap::before {
					opacity: .5;
				}
			}
			.img-wrap {
				width: 100%;
				height: 200px;
				&::before {
					display: block;
					content: '';
					width: 100%;
					height: 100%;
					background-color: #000;
					opacity: 0;
					top: 0;
					left: 0;
					transition: opacity .25s ease-in-out;
				}
			}
			.post-content {
				background: #fff;
				box-shadow: 2px 2px 8px rgba(0, 0, 0, .08);
				position: absolute;
				top: 60%;
				margin: 0 20px;
				padding: 20px;
				.entry-content {
					.post-title {
						display: inline-block;
						width: 70%;
						font-weight: 700;
						font-family: 'El Messiri';
						font-size: 18px;
						line-height: 25px;
					}
					.post-date {
						display: inline-block;
						width: 28%;
						text-align: right;
						vertical-align: top;
						font-size: 12px;
						color: $grey;
						margin-top: 5px;
					}
				}
				.main-content {
					font-size: 14px;
					color: #737373;
					line-height: 21px;
					p {
						margin: 10px 0 20px 0;
					}
				}
				.footer-content {
					a {
						color: $darkBlue;
						text-decoration: underline;
						font-weight: 700;
						font-size: 15px;
						transition: color .25s ease;
						&:hover {
							color: $blue;
						}
					}
				}
			}
		}
	}
}

/* Section Gallery */
.section-gallery {
	align-content: baseline;
	padding: 60px 1em;
	.section-gallery_photos {
		width: 79%;
		justify-content: flex-start;
		.section-gallery_photo {
			width: 15%;
			height: 113px;
			margin-right: 14px;
			margin-bottom: 14px;
			transform: scale(1);
			transition: transform .25s ease;
			&:nth-child(6n) {
				margin-right: 0;
			}
			&:hover {
				transform: scale(1.1);
			}
			&:last-child {
				&:hover {
					transform: scale(1);
				}
			}
			&.link-gallery {
				max-width: 100%;
				a {
					width: 100%;
					display: inline-block;
					margin: 35px 0;
					text-align: center;
					font-size: 12px;
					padding: 10px 0;
					font-weight: 700;
					background-color: $blue;
					color: #fff;
					transition: background-color .25s ease;
					&:hover {
						background-color: darken($blue, 5%);
					}
				}
			}
		}
	}
	.section-gallery_main {
		&.section-gallery_photo {
			width: 20%;
			height: 240px;
		}
	}
}

/* Footer */
footer {
	background-color: $darkBlue;
	padding: 60px 4em 40px 4em;
	color: #fff;
	.flex-container {
		margin-bottom: 20px;
	}
	.logo {
		width: 15%;
		.tom-headphones {
			::before {
				font-size: 50px;
			}
		}
	}
	.widget-area {
		width: 85%;
		
		.footer-widget	{
			width: 25%;
			.widget-title {
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 15px;
			}
			ul {
				li {
					margin-bottom: 10px;
					a {
						color: #737373;
						transition: color .25s ease;
						font-size: 14px;
						&:hover {
							color: #fff;
						}
					}
				}
			}		
		}
	}
	.footer-social {
		.social-follow {
			font-size: 14px;
			margin-bottom: 10px;
			color: #737373;
		}
		ul {
			li {
				display: inline-block;
				margin-right: 5px;
				a {
					span {
						&::before {
							transition: color .25s ease;
							font-size: 18px;
						}
					}
				}
				&:hover {
					a {
						span {
							&::before {
								color: $blue;
							}
						}
					}
				}
			}
		}
	}
	.footer-apps {
		.title-apps {
			font-size: 14px;
			margin-bottom: 10px;
			color: #737373;
		}
		a {
			border: 1px solid #fff;
			border-radius: 5px;
			padding: 10px 20px 5px 20px;
			margin-right: 20px;
			color: #fff;
			display: inline-block;
			transition: background .25s ease;
			span {
				height: 25px;
				display: inline-block;
				&.app-title {
					vertical-align: middle;
				}
				&:before {
					color: #eee;
					font-size: 25px;
					margin-left: 5px;
				}
			}
			&.app-itunes {
				&:hover {
					background: linear-gradient(90deg, rgba(235,101,91,1) 0%, rgba(178,89,218,1) 50%, rgba(124,113,244,1) 100%);
				}
			}
			&.app-soundcloud {
				&:hover {
					background: #F85300;
				}
			}
		}
	}
	.footer-subscribe {
		.title-subscribe {
			font-size: 14px;
			margin-bottom: 10px;
			color: #737373;
		}
		form {
			input[type="text"] {
				border-radius: 5px;
				padding: 10px;
				outline: none;
				border: none;
				background: #fff;
			}
			input[type="submit"] {
				padding: 10px;
				border-radius: 5px;
				outline: none;
				background: $blue;
				font-family: 'Comfortaa';
				border: none;
				font-size: 12px;
				color: #fff;
				cursor: pointer;
				transition: background .25s ease;
				&:hover {
					background: darken($blue, 5%);
				}
			}
		}
	}
}

/* Form Search */
.add-menu_search {
	position: relative;
	form {
		.search {
			border: none;
			outline: none;
			background: transparent;
			font-size: 16px;
			color: #eee;
			padding: 3px 10px;
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			transition: width .3s ease-in-out;
			width: 0;
			z-index: 3;
			display: inline-block;
			&:focus {
				width: 150px;
				z-index: 0;
				cursor: text;
				border-bottom: 1px solid $grey;
			}
			&:focus + input[type="submit"] {
				z-index: 10;
			}
		}
		input[type="submit"] {
			border: none;
			display: inline-block;
			outline: none;
			background: transparent;
			position: absolute;
			top: 0;
			cursor: pointer;
			right: 0;
			padding: 3px 10px;
			float: right;
			text-indent: -1000px;
			z-index: 2;
		}
	}
}

/* Popup Login */
.popup-login {
	// display: none;
	width: 400px;
	position: fixed;
	z-index: 99;
	top: 10%;
	left: -150%;
	transform: translateX(-50%);
	background-color: #eee;
	padding: 20px;
	border-radius: 5px;
	transition: left .3s ease-in-out;
	.popup-login_title {
		text-align: center;
		margin: 20px 0;
		font-size: 19px;
		font-weight: 700;
	}
	.form-group {
		input {
			width: 100%;
			margin-bottom: 15px;
			border: none;
			border-bottom: 2px solid $blue;
			text-indent: 10px;
			padding: 10px 0;
			color: #cecece;
			font-family: 'Ubuntu';
			font-size: 16px;
			outline: none;
			background: $darkBlue;
			transition: color .3s ease-in-out, border-color .3s ease-in-out, background .3s ease-in-out;
			&:focus {
				background: transparent;
				border-color: $darkBlue;
				color: $darkBlue;
			}
		}
		input[type="submit"] {
			border-bottom: none;
			background-color: $blue;
			color: #fff;
			font-weight: 700;
			font-size: 15px;
			cursor: pointer;
		}
	}
	.close {
		position: absolute;
		top: 20px;
		right: 20px;
		font-weight: 700;
		font-size: 18px;
		padding: 3px;
		cursor: pointer;
	}
	.logIn {
		text-align: center;
		display: block;
		margin: 10px auto;
		color: #555;
		font-size: 13px; 
		text-decoration: underline;
	}
}

.overlay {
	width: 100%;
	height: 100%;
	top: 0;
	transition: left .2s ease-in-out;
	left: -150%;
	transform: translateX(-50%);
	position: fixed;
	z-index: 90;
	background-color: rgba(0, 0, 0, .8);
}

/* Breadcrumbs */
.breadcrumbs {
	font-size: 14px;
	a {
		color: $darkBlue;
		font-weight: 700;
		transition: color .3s ease;
		&:hover {
			color: $blue;
		}
	}
	span {
		&.current {
			border-bottom: 1px solid rgba(0, 0, 0, .3);
		}
	}
}

/* Single Product Style */
.section-main {
	&.single-product {
		padding: 20px 4em;
	}
}

.section-product {
	padding: 30px 4em 60px;
	.product-content {
		margin-top: 40px;
		background: $darkBlue;
		padding: 20px;
		.product-gallery {
			position: relative;
			width: 28%;
			margin-right: 2%;
			.img-wrap {
				text-align: center;
				width: 100%;
				height: 60%;
				overflow: hidden;
			}
			.product-gallery_images {
				align-items: flex-start;
				justify-content: center;
				padding-top: 20px;
				padding-bottom: 20px;
				span {
					display: inline-block;
					background: #fff;
					width: 50px;
					cursor: pointer;
					height: 50px;
					border-radius: 50%;
					text-align: center;
					vertical-align: middle;
					overflow: hidden;
					margin-right: 20px;
					padding: 2px;
					transition: all .4s ease;
					&.active {
						border: 2px solid $blue;
					}
				}
			}
		}
		.product-details {
			width: 70%;
			color: #fff;
			.product-details_price {
				font-size: 24px;
				display: inline-block;
				font-weight: 700;
			}
			.product-details_rating {
				display: inline-block;
				float: right;
				img {
					width: 15px;
				}
			}
			.product-details_title {
				h1 {
					font-size: 36px;
					margin: 10px 0 15px;
					line-height: 45px;
				}
			}
			.product-details_description {
				font-size: 14px;
				color: #999;
				line-height: 22px;
				margin-bottom: 20px;
			}
			.product-details_options {
				margin-bottom: 25px;
				.product-details_options__color {
					.option-title {
						font-size: 13px;
						margin-right: 10px;
					}
					span {
						display: inline-block;
						vertical-align: middle;
					}
					.product-color {
						margin-left: 10px;
						border-radius: 50%;
						width: 20px;
						display: inline-block;
						height: 20px;
						background: #fff;
						position: relative;
						&:nth-child(2) {
							background: #d43636;
						}
						&.check {
							&:before {
								display: block;
								content: '';
								width: 15px;
								height: 15px;
								background: #000;
								border-radius: 50%;
								position: absolute;
								top: 50%;
								transform: translate(-50%, -50%);
								left: 50%;
							}
						}
						input {
							position: absolute;
							background: transparent;
							border: none;
							outline: none;
							opacity: 0;
							cursor: pointer;
							width: 100%;
							height: 100%;
							padding: 0;
							margin: 0;
						}
					}
				}
			}
			.product-details_quantity {
				display: inline-block;
				margin-left: 5px;
				input {
					width: 60px;
					background: transparent;
					color: #fff;
					outline: none;
					border: 1px solid $grey;
					padding: 10px;
					text-align: center;
					font-size: 18px;
					font-weight: 700;
				}
				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
				}

				input[type=number] {
					-moz-appearance:textfield; /* Firefox */
				}
				.value_button {
					background: #fff;
					height: 43px;
					display: inline-block;
					margin: -5px;
					cursor: pointer;
					width: 43px;
					color: $darkBlue;
					font-size: 30px;
					text-align: center;
					border: 1px solid #fff;
					line-height: 43px;
					vertical-align: middle;
					margin-top: -7px;
				}
			}
			.product-details_add-to-cart {
				display: inline-block;
				margin-left: 35px;
			}
			.product-details_categories {
				margin-top: 30px;
				.product-details_categories__title {
					font-size: 12px;
					color: #777;
					display: inline-block;
				}
				.product-details_categories__list {
					display: inline-block;
					a {
						color: #fff;
						font-size: 14px;
						transition: color .3s ease-in-out;
						&:hover {
							color: $blue;
						}
					}
				}
			}
		}
	}
	.product-tab {
		margin-top: 3rem;
		.tabs {
			text-align: center;
			li {
				display: inline-block;
				margin-right: 30px;
				a {
					font-size: 2rem;
					font-weight: 700;
					color: $darkBlue;
				}
				&.active {
					a {
						color: $blue;
						padding-bottom: 10px;
						border-bottom: 2px solid $blue;
					}
				}
			}
		}
		.tab-panel {
			margin-top: 25px;
			display: none;
			&.open {
				display: block;
			}
		}
		p {
			line-height: 27px;
		}
		.product_content_wrapper {
			width: 55%;
			ul {
				display: flex;
				flex-wrap: wrap;
				margin: 2.5rem auto;
				justify-content: space-between;
				li {
					width: 30%;
					text-align: center;
					p {
						font-weight: 700;
						font-size: 18px;
						margin-top: 15px;
						line-height: 27px;
					}
					i {
						&:before {
							font-size: 40px;
							color: $darkBlue;
						}
					}
				}
			}
		}
		.product_content_img_wrap {
			width: 40%;
			margin-top: 1.5rem;
			height: 350px;
		}
		.review_form_wrapper {
			margin-top: 2.5rem;
			.comment-reply-title {
				font-weight: 700;
				font-size: 17px;
			}
			.comment-form {
				.required {
					color: red;
				}
				.comment-form-rating {
					p {
						display: inline-block;
						img {
							width: 15px;
						}
					}
				}
				.comment-form-comment {
					label {
						display: block;
						width: 100%;
						font-size: 14px;
						font-weight: 900;
					}
					textarea {
						width: 50%;
						color: $darkBlue;
					}
				}
				.row {
					width: 50%;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					p {
						margin: 0;
					}
					.comment-form-author, .comment-form-email {
						width: 48%;
						display: inline-block;
						label {
							display: block;
							width: 100%;
							font-size: 14px;
							font-weight: 900;
						}
						.input-text {
							width: 100%;
							padding: 10px 5px;
						}
					}
					.form-submit {
						width: 100%;
						margin-top: 15px;
						input {
							padding: 15px 20px;
							border-radius: 5px;
							border: 0;
							outline: none;
							background: $darkBlue;
							color: #fff;
							font-size: 17px;
							font-weight: 700;
						}
					}
				}
			}
			.input-text {
				background: rgb(249,249,249);
				border-color: rgb(225,225,225);
				border-width: 1px;
				border-radius: 5px;
				outline: none;
			}
		}
	}
}

.related-products {
	padding: 60px;
}

/* Mobile Menu */
.mobile-menu {
	height: 100vh;
	left: -100%;
	top: 0;
	position: absolute;
	width: 100%;
	background: #04d0c7;
	padding: 90px 20px 40px;
	text-align: center;
	z-index: 999;
	transform: translateX(-50%);
	transition: left .15s ease;
	ul {
		flex-direction: column;
		li { 
			opacity: 0;
			margin-left: -20%;
			margin-bottom: 15px;
			padding-bottom: 10px;
			transition: opacity .8s ease-in-out, margin-left .8s ease;
			a {
				color: #fff;
				font-weight: 700;
			}
		}
	}
	&.open {
		left: 50%;
		ul {
			li {
				opacity: 1;
				margin-left: 0;
			}
		}
	}
}