@import 'colors.scss';
@import 'fonts.scss';

body {
	padding: 0;
	margin: 0;
	background-color: $white;
	font-family: 'Comfortaa', cursive; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'El Messiri', serif;
}

.tomkovich-icon {
	font-family: 'tomkovich-icon';
}

.tomkovich-icon:before {
	color: $white;
	font-size: 30px;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.bg {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.section-title {
	font-size: 22px;
	font-weight: 700;
	font-family: 'El Messiri', serif;
	text-align: center;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.section {
	padding-left: 15px;
	padding-right: 15px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		li {
			a {
				color: $white;
				transition: color .25s ease-in-out;
				&:hover {
					color: $blue;
				}
				&.active {
					color: $blue;
				} 
			}
		}
	}
} 

.main-button {
	border: 2px solid $lightBlue;
	border-radius: 5px;
	color: $lightBlue;
	padding: 10px 25px;
}

/* Section Main */

.section-main {
	background-color: $darkBlue;
	padding-top: 40px;
	padding-bottom: 80px;
	position: relative;
	header {
		width: 100%;
		.flex-container {
			width: 100%;
			padding: 0 4em;
			justify-content: space-between;
			align-items: center;
			.logo {
				width: 20%;
				a {
					.tom-headphones {
						font-size: 50px;
					}
					.name-company {
						opacity: 0;
						color: $grey;
						transition: opacity .3s ease;
						margin-left: -20px;
						font-size: 12px;
					}

					&:hover {
						.name-company {
							opacity: 1;
						}	
					}
				}
			}
		}
		.header-menu {
			width: 50%;
		}
		.add-menu {
			width: 12%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			.add-menu_item {
				position: relative;
				cursor: pointer;
				.tomkovich-icon {
					&:before {
						font-size: 22px;
						transition: color .25s ease-in-out;
					}
					.count {
						background-color: $blue;
						width: 6px;
						height: 6px;
						display: block;
						position: absolute;
						top: 2px;
						right: -2px;
						border-radius: 50%;
					}
				}

				&:hover {
					.tomkovich-icon:before {
						color: $blue;
					}
				}
			}
		}
	}
	.section-main_slider {
		position: relative;
		height: 500px;
		margin-top: 50px;
		padding-right: 4em;
		overflow: hidden;
		.section-main_slider__wrapper {
			width: 100%;
			white-space: nowrap;
			height: 100%;
			transition: transform .3s ease-in-out;
		}
		.section-main_slider__slide {
			height: 100%;
			background-position-x: 18em;
			white-space: normal;
			display: inline-block;
			width: 100%;
			position: relative;
			.section-main_slider__slide_description {
				width: 50%;
				padding-top: 10%;
				padding-left: 4em;
				color: $white;
				h1 {
					font-size: 28px;
					font-weight: 700;
				}
				p {
					font-weight: 300;
					line-height: 24px;
				}
				.button-shop {
					margin-top: 50px;
					a {
						font-weight: 700;
						transition: color .25s ease-in-out, background-color .25s ease-in-out;
						&:hover {
							color: $white;
							background-color: $lightBlue;
						}
					}
				}
			}
		}
		.navigation {
			position: absolute;
			top: 50%;
			width: 100%;
			button {
				outline: none;
				cursor: pointer;
				background: none;
				border: none;
				position: absolute;
				&.nav-prev {
					left: 0;
				}
				&.nav-next {
					right: 0;
				}
				span {
					&:before {
						color: darken($white, 30 );
						transition: color .25s ease-in-out;
					}
				}
				&:hover {
					span {
						&:before {
							color: darken($white, 0 );
						}
					}
				}
			}
		}
	}
	.bottom-information {
		padding-right: 6em;
		margin-top: -60px;
		position: relative;
		.flex-container {
			justify-content: space-between;
			align-items: center;
			.social {
				padding-left: 2em;
				ul {
					li {
						margin-right: 10px;
						display: inline-block;
						a {
							span {
								&:before {
									font-size: 22px;
									color: darken($white, 30 );
									transition: color .25s ease-in-out;
									text-shadow: 1px 3px 10px rgba(255, 255, 255, 0.2);
								}
							}
							&:hover {
								span {
									&:before {
										font-size: 22px;
										color: darken($white, 0 );
									}
								}
							}
						}
					}
				}
			}
			.menu-bottom {
				width: 50%;
				ul {
					justify-content: space-between;
					li {
						a {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

/* Section Categories */
.section-categories {
	padding: 50px 15px;
	.section-categories_list {
		width: 80%;
		margin: 0 auto;
		margin-top: 25px;
		ul {
			justify-content: center;
			li {
				width: calc(100% / 5 - 15px);
				margin-right: 15px;
				box-shadow: 2px 2px 6px rgba(0,0,0, .2);
				border-radius: 5px;
				position: relative;
				overflow: hidden;
				transition: box-shadow .25s ease;
				&:hover {
					box-shadow: 2px 2px 6px rgba(0,0,0, .35);
				}
				a {
					display: block;
					width: 100%;
					height: 100%;
					padding: 50px 10px;
					text-align: center;
					color: $darkBlue;
					i {
						&:before {
							transition: color .25s ease-in-out;
							font-size: 50px;
							color: $grey;
						}
					}
					&:hover {
						i {
							&:before {
								font-size: 50px;
								color: $blue;
							}
						}
					}
					.earphone_title {
						font-family: 'Comfortaa';
						font-weight: 700;
					}
					.count {
						font-size: 14px;
						color: #999;
					}
				}
			}
		}
	}
}